body {
  font-family: sans-serif;
  background-color: #dee2e8;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 20px;
}

h2 {
  text-align: center;
  font-weight: bolder;
}

h3 {
  text-align: center;
}
h4 {
  padding: 7px;
  border: 1px solid #999999;
}
h5 {
  font-size: 20px;
}

h6 {
  font-size: 45px;
}

h6 {
  text-align: left;
}

p {
  font-size: 18px;
  text-align: left;
}
label {
  font-style: italic;
}
button {
  margin-top: 15px;
}

ul {
  text-align: left;
}
.jumbotron {
  font-size: 45px;
  font-family: Lucida Bright;
  text-shadow: 3px 3px white;
  color: #4b5666;
  position: relative;
  width: 100%;
  height: 100%;
}


img {
  border: 1px solid #1b384d;
  padding: 20px;
  box-shadow: 0 1px #1b384d;
  border-radius: 6px;
  width: 600px;
  height:400px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20px;
}
.container {
  padding-bottom: 30px;
}
.column {
  border-radius: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.location {
  border: 1px dotted black;
  border-radius: 10px;
  padding: 10px 0 10px;
  margin-top: 10px;
}
.button-div {
  text-align: center;
}

.message {
  padding-top: 10px;
}

.verticle {
 text-align: left;
 font-weight: bold;
}

#output {
  text-align: center;
  display: none;
}
#address {
  display: none;
}

#delivery{
  display: none;
}

#new-order-button {
  display: none;
}
